.home-main-container>div{
   margin: 2rem;
   display: grid;
   place-items: center;
   user-select: none;
}

.home-button{
    width: 20rem;
}

.home-buttons-group{
    display: flex;
    gap: 1rem;
}